html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

ol {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

li {
  list-style-type: none;
  background-color: #e75252;
  color: white;
  float: left;
  width: 25%;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  border-left: 1px solid white;
  font-family: 'Open Sans', sans-serif;
}

li:hover {
  background-color: #c94848;
}

/* original logo colour #046738.   red colour #e75252 */

.logo {
  width: 35%;
  position: relative;
  left: 33%;
  margin: 0;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

h1 {
  text-align: center;
  margin: 0;
  padding-bottom: 0.25em;
  font-family: 'Open Sans', sans-serif;
}

.top1 {
  text-align: center;
  margin: 0;
  padding-bottom: 0.1em;
  font-family: 'Open Sans', sans-serif;
}

.top2 {
  text-align: center;
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
}

.map {
  width: 100%;
  padding-bottom: 1em;
  position: relative;
  left: 0%;
}

img {
  width: 85%;
  position: relative;
  left: 7%;
  display: block;
  margin: 0;
}

.gms {
  font-style: italic;
  color: white;
  text-align: center;
  padding-top: 0.25em;
  font-family: 'Open Sans', sans-serif;
}

.a-d-b {
  padding-bottom: 1.5em;
  font-style: italic;
  color: white;
  text-align: center;
  padding-top: 0.25em;
  font-family: 'Open Sans', sans-serif;
}

.breakfast {
  padding-top: 1.5em;
  position: relative;
  overflow: hidden;
}

.burger {
  padding-top: 2em;
  position: relative;
}

.window {
  background-color: #e75252;
}

div {
  background-color: #e75252;
}

figure {
  margin: 0;
}

h2 {
  background-image: url("../images/wood-2.jpg");
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.25em;
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
}

.p {
  padding-left: 0.3em;
  font-family: 'Open Sans', sans-serif;
}

.a-u {
  margin-bottom: 0.5em;
  font-family: 'Open Sans', sans-serif;
}

.s {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-family: 'Open Sans', sans-serif;
}

.bold {
  margin: 0;
  padding-bottom: 0.2em;
  text-align: center;
  color: #e75252;
  font-family: 'Open Sans', sans-serif;
}

.specials {
  margin: 0;
  padding-bottom: 0.8em;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.bottom-red {
  background-color: #e75252;
  color: white;
  margin: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

footer {
  background-image: url("../images/wood-2.jpg");
  color: white;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  text-align: center;
  margin-top: 1em;
  font-family: 'Open Sans', sans-serif;
}

.back-to-top:hover {
  background-color: rgba(81, 34, 0, 0.45);
  padding: 0.75em;
}

a {
  color: white;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
}
