html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

ol {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

nav li {
}

li {
  list-style-type: none;
  background-color: #e75252;
  color: white;
  float: left;
  width: 25%;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* original logo colour #046738.   red colour #e75252 */
header {
}

.map {
  width: 100%;
  padding-bottom: 1em;
}

img {
  width: 85%;
  position: relative;
  left: 7%
}

.window {
  background-color: #e75252;
}

div {
  background-color: #e75252;
}

figure {
  margin: 0;
}

h1 {
  text-align: center;
}

.top1 {
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0.1em;
}

.top2 {
  text-align: center;
  margin-top: 0;
}

h2 {
  background-image: url("../images/wood-2.jpg");
  background-width: 100%;
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.25em;
}

.bold {
  margin: 0;
  padding-bottom: 0.2em;
  text-align: center;
}

.specials {
  margin: 0;
  padding-bottom: 0.8em;
  text-align: center;
}

.bottom-red {
  background-color: #e75252;
  color: white;
  margin: 0;
  text-align: center;
}


footer {
  background-image: url("../images/wood-2.jpg");
  color: white;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  text-align: center;
  margin-top: 1em;
}

a {
  color: white;
  text-decoration: none;
  list-style-type: none;
}
